* {
    padding: 0;
    margin: 0;
    box-sizing :border-box;
}

#container {
    margin: auto;
    width: 50%;
    border-radius: 250px 250px;
    box-shadow: 10px 10px black;
    padding: 30px;
    margin-top: 150px;
}

#lists li {
    list-style:none;
    font-size: 30px;
    margin-bottom: 10px;
}

.card {
    text-align: center;
}

.card h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.girls {
    color: black;
}

@media (max-width:769px) and (min-width:426px) {
    #container{
    width: 100%;
    border-radius: 50px 100px;
    }
}

@media(max-width: 426px) {
    #container{
    width: 100%;
    border-radius: 70px 100px;
    }

    .card h1 {
        font-size: 30px;
    }

    #lists li {
        font-size: 20px;
    }
}