* {
    padding: 0;
    margin: 0;
    box-sizing :border-box;
}
#main {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(151, 149, 149);
}

#container {
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
    width: 50%;
    border-radius: 80px 50px 50px 80px;
    box-shadow: 10px 10px 10px 10px rgb(68, 67, 67);
    z-index: 1;
    overflow: hidden;
}

#container::after {
    content: '';
    width: 20%;
    aspect-ratio: 0.5;
    z-index: 2;
    position: absolute;
    background-color: blue;
    bottom: 0%;
    right: 81.5%;
    transform: rotate(360deg);
}

#container::before {
    content: '';
    width: 20%;
    aspect-ratio: 0.5;
    z-index: 2;
    position: absolute;
    background-color: blue;
    bottom: 0%;
    right: -1.5%;
    transform: rotate(360deg);
}


#lists li {
    list-style:none;
    font-size: 30px;
    margin-bottom: 10px;
}

#container .card {
    text-align: center;
}

.card h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.girls {
    color: black;
}



@media (max-width:769px) and (min-width:426px) {
    #container{
    width: 100%;
    border-radius: 50px 100px;
    }
}

@media(max-width: 426px) {
    #container{
    width: 100%;
    border-radius: 70px 100px;
    }

    .card h1 {
        font-size: 30px;
    }

    #lists li {
        font-size: 20px;
    }
}